.wrapper {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.skFoldingCube {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  position: relative;
  transform: rotateZ(45deg);
}

.skFoldingCube .skCube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.skFoldingCube .skCube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5b37b1;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}
.skFoldingCube .skCube2 {
  transform: scale(1.1) rotateZ(90deg);
}
.skFoldingCube .skCube3 {
  transform: scale(1.1) rotateZ(180deg);
}
.skFoldingCube .skCube4 {
  transform: scale(1.1) rotateZ(270deg);
}
.skFoldingCube .skCube2:before {
  animation-delay: 0.3s;
  background-color: #f35564;
}
.skFoldingCube .skCube3:before {
  animation-delay: 0.6s;
  background-color: #f9c907;
}
.skFoldingCube .skCube4:before {
  animation-delay: 0.9s;
  background-color: #f35564;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
